<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form id="post_form" method="post" action="{% url 'messageboard:post' %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{  hidden }}
        {% endfor %}
        {%  for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }} <br />
        {% endfor %}
        <input type="submit" name="submit" value="Create Post" />
    </form>
</div>
</body>
</html>