<!DOCTYPE html>
{% load static %}
{% load calendar_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'community_calendar/css/style.css' %}">
</head>
<body>
<table>
    <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    {% for week in weeks %}
        <tr>
        {% for date in week %}
            <td {% if date.month != today.month %} class="inactive" {% endif %}>
                <div class="title">{{ date.day }}</div>
                {% for event in events|get_item:date %}
                    <div class="event {% if forloop.counter|divisibleby:2%}highlight{% endif %}">
                        {{ event.summary }}
                    </div>
                {% endfor %}


            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>

</body>
</html>