<!DOCTYPE html>
{% load static %}
{% load calendar_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'community_calendar/css/style.css' %}">
</head>
<body>

<h1>
    <a href="{% url 'community_calendar:index' today|change_year:-1%}"><</a>
    {{ today.year }}
    <a href="{% url 'community_calendar:index' today|change_year:1 %}">></a>
</h1>

<h1>
    <a href="{% url 'community_calendar:index' today|change_month:-1 %}"><</a>
    {{ today|month_name }}
    <a href="{% url 'community_calendar:index' today|change_month:1 %}">></a>
</h1>

<table>
    <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    {% for week in weeks %}
        <tr>
        {% for date in week %}
            <td {% if date.month != today.month %} class="inactive" {% endif %}>
                <div class="title">{{ date.day }}</div>
                {% for event in events|get_item:date %}
                    <a href="{% url 'community_calendar:event_detail' event.id %}">
                    <div class="event {% if forloop.counter|divisibleby:2%}highlight{% endif %}">
                        {{ event.start_time }} {{ event.summary }}
                    </div>
                    </a>
                {% endfor %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>

</body>
</html>