<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'tasklist/css/style.css' %}">
</head>
<body>


<form action="">
    {% for t in tasks %}
        <div  class ="{% if t.completed %}checked{% endif %}">
            <input class="check" type="checkbox" value="{{ t.pk }}"
                    {% if t.completed %} checked{% endif %}> {{ t.name }}<br />
        </div>
    {% endfor %}
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'tasklist/js/script.js' %}"></script>
</body>
</html>