table{
  border-spacing: 10px;
  height: 100%;
  width: 100%;
}

h1{
  text-align: center;
}

td {
  vertical-align: top;
  width: 14%;
  text-align: center;
  padding: 10px;
  background-color: palegoldenrod;
}

td a{
  text-decoration: none;
  color: black;
}

td.inactive {
  background-color: #FEF8CA;
  color: gray;
}

.title {
  height: 25px
}

.event {
  text-align: left;
  font-size: .8em;
  padding: 5px;
  background-color: #CEC89A;
}

td.inactive .event {
  background-color: #eee8af;
  color: gray;
}

.highlight {
  background-color: #FEF8FA;
}

td.inactive .highlight {
  background-color: #f8f2b6;
  color: gray;
}

.event:hover {
  background: gold !important;
}