table{
  border-spacing: 10px;
  height: 100%;
  width: 100%;
}

td {
  vertical-align: top;
  width: 14%;
  text-align: center;
  padding: 10px;
  background-color: palegoldenrod;
}

td.inactive {
  background-color: #FEF8CA;
  color: gray;
}

.title {
  height: 25px
}

.event {
  text-align: left;
  font-size: .8em;
  padding: 5px;
  background-color: #CEC89A;
}

.highlight {
  background-color: #FEF8FA;
}